<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="司法鉴定 科技 科技司法鉴定 司法鉴定中心" />
    <meta name="description" content="湖北科技事务司法鉴定中心是由湖北省科学技术协会申报，2002年10月30日经湖北省司法厅批准成立。2003年5月16日，中国科学技术协会在第10期《中国科协简报》上，以“科技为社会主义法制建设服务的新探索”为题，向党中央、全国人大、国务院和全国政协的领导同志作出了湖北省科协成立科技事务司法鉴定中心的报道。2004年12月经最高人民法院审核批准入册。2013年与事业单位脱钩。2015年经湖北省高级人民法院和武汉市中级人民法院审定入册（武汉光交所）的评估、拍卖、鉴定中介机构名单。" />

    <title>湖北科技事务司法鉴定中心</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' %> 
    <%= render 'layouts/flash_message' %>
    <div id="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/side_contact' %>
    <%= render 'layouts/bind_select2' %>
    <%= render 'layouts/fit_height_js' %>
  </body>
</html>
